* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Rubik", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background-color: black;
}
#root {
  width: 100%;
  height: auto;
}
a{
  text-decoration: none;
}
.colorSecundario{
  color: #E67B07;
}
.navbar {
  width: 100%;
  height: 60px; /* Ajusta la altura según necesites */
  background-color: #333; /* Color de fondo */
  color: white;
  display: flex;
  align-items: center;
  padding: 0 20px;
  z-index: 1000; /* Para que quede por encima del resto */
  margin-bottom: 0;
}
.navbar-brand{
  display: flex;
  color: white;
  font-size: 1.5rem;
  align-items: center;
  justify-content: center;
  transition: color 0.3s ease-in-out;
}
.navbar-brand:hover{
  color: #E67B07;
}
.containerNav{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin: 10px;
}
.navbar-right{
  display: flex;
  align-items: center;
  margin-right: 3rem;
}
.signUpButton{
  background-color: white;
  margin: .5rem;
  padding-top: 3px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  color: black;
  border-radius: 30px;
  transition: background-color 0.2s ease-in-out ,color 0.2s ease-in-out;
}
.loginButton{
  background-color: #E67B07;
  margin: .5rem;
  padding-top: 3px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  border-radius: 30px;
  transition: background-color 0.2s ease-in-out ,color 0.2s ease-in-out;
}
.signUpButton:hover{
  background-color: rgb(220, 213, 213);
  color: #555353;
}
.loginButton:hover{
  background-color: #f79022;
  color: #d8d0d0;
}
.searchBar{
  display: flex;
  padding: 5px;
  background-color: #322f2f;
  justify-content: center;
  align-items: center;
  width: 300px;
  border-radius: 20px;
  border: 1px solid rgb(108, 103, 103);
  transition: border 0.1s ease-in-out;
}
.searchInput{
  width: 100%;
  margin-left: .1rem;
  background: none;
  border: none;
}
.searchInput:focus {
  outline: none; /* Elimina el contorno predeterminado */
  border: none; /* Elimina el borde si es necesario */
  box-shadow: none; /* Elimina cualquier sombra */
  color: white;
}
.searchBar:focus-within {
  border: 2px solid white;
}
.searchBar:focus-within .searchInput::placeholder {
  color: rgb(255, 255, 255);
}
.footer{
  background-color: #333;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  color: white;
}
.footer a{
  color: white;
}
.footer a:hover{
  color: #E67B07;
}
.quickLinks ul{
  list-style: none;
}
.contactInfo ul{
  list-style: none;
}
.footer h2{
  font-size: 1.3rem;
  margin-bottom: .5rem;
}
.socialMedia{
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.socialMedia a svg{
  margin: 1rem;
}
.home{
  margin-bottom: 5rem;
}
.hero-container {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  max-width: 100%;
}

.hero-image {
  width: 100%;
  height: 250px;
  border-radius: 15px; /* Borde redondeado */
  object-fit: cover;
  -webkit-mask-image: linear-gradient(to right, transparent, black 15%, black 85%, transparent);
  mask-image: linear-gradient(to right, transparent, black 15%, black 85%, transparent);
}
.topGames{
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  margin-left: 5rem;
}
.topGames h2{
  color: white;
  text-align: center;
}
.gameCard{
  display: flex;
  flex-direction: column;
  background-color: #333;
  border-radius: 10px;
  padding: 10px;
  margin-top: 1rem;
  margin-right: 2rem;
  max-width: 220px;
  transition: transform 0.3s ease-in-out;
}
.gameImage{
  width: 200px;
  border-radius: 20px;
  margin-bottom: 1rem;
}
.gameName{
  color: white;
  margin-bottom: .5rem;
}
.playButton{
  background-color: #E67B07;
  padding: 5px;
  text-align: center;
  color: white;
  border-radius: 20px;
}
.playButton:hover{
  background-color: #f79022;
  color: #d8d0d0;
}
.gameCarrousel{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.gameCard:hover{
  transform: scale(1.05);
}