* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Rubik", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background-color: black;
  color: white;
}
#root {
  width: 100%;
  height: auto;
}
a{
  text-decoration: none;
}
.colorSecundario{
  color: #E67B07;
}
.navbar {
  width: 100%;
  height: 60px; /* Ajusta la altura según necesites */
  background-color: #333; /* Color de fondo */
  color: white;
  display: flex;
  align-items: center;
  padding: 0 20px;
  z-index: 1000; /* Para que quede por encima del resto */
  margin-bottom: 0;
}
.navbar-brand{
  display: flex;
  color: white;
  font-size: 1.5rem;
  align-items: center;
  justify-content: center;
  transition: color 0.3s ease-in-out;
}
.navbar-brand:hover{
  color: #E67B07;
}
.containerNav{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin: 10px;
}
.navbar-right{
  display: flex;
  align-items: center;
  margin-right: 3rem;
}
.signUpButton{
  background-color: white;
  margin: .5rem;
  padding-top: 3px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  color: black;
  border-radius: 30px;
  transition: background-color 0.2s ease-in-out ,color 0.2s ease-in-out;
}
.loginButton{
  background-color: #E67B07;
  margin: .5rem;
  padding-top: 3px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  border-radius: 30px;
  transition: background-color 0.2s ease-in-out ,color 0.2s ease-in-out;
}
.signUpButton:hover{
  background-color: rgb(220, 213, 213);
  color: #555353;
}
.loginButton:hover{
  background-color: #f79022;
  color: #d8d0d0;
}
.searchBar{
  display: flex;
  padding: 5px;
  background-color: #322f2f;
  justify-content: center;
  align-items: center;
  width: 300px;
  border-radius: 20px;
  border: 1px solid rgb(108, 103, 103);
  transition: border 0.1s ease-in-out;
}
.searchInput{
  width: 100%;
  margin-left: .1rem;
  background: none;
  border: none;
}
.searchInput:focus {
  outline: none; /* Elimina el contorno predeterminado */
  border: none; /* Elimina el borde si es necesario */
  box-shadow: none; /* Elimina cualquier sombra */
  color: white;
}
.searchBar:focus-within {
  border: 2px solid white;
}
.searchBar:focus-within .searchInput::placeholder {
  color: rgb(255, 255, 255);
}
.footer{
  background-color: #333;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  color: white;
}
.footer a{
  color: white;
}
.footer a:hover{
  color: #E67B07;
}
.quickLinks ul{
  list-style: none;
}
.contactInfo ul{
  list-style: none;
}
.footer h2{
  font-size: 1.3rem;
  margin-bottom: .5rem;
}
.socialMedia{
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.socialMedia a svg{
  margin: 1rem;
}
.home{
  margin-bottom: 5rem;
}
.hero-container {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  max-width: 100%;
}

.hero-image {
  width: 100%;
  height: 250px;
  border-radius: 15px; /* Borde redondeado */
  object-fit: cover;
  -webkit-mask-image: linear-gradient(to right, transparent, black 15%, black 85%, transparent);
  mask-image: linear-gradient(to right, transparent, black 15%, black 85%, transparent);
}
.topGames{
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.topGames h2{
  color: white;
  text-align: center;
}
.gameCard{
  display: flex;
  flex-direction: column;
  background-color: #333;
  border-radius: 10px;
  padding: 10px;
  max-width: 220px;
  transition: transform 0.3s ease-in-out;
}
.gameImage{
  width: 200px;
  border-radius: 20px;
  margin-bottom: 1rem;
}
.gameName{
  color: white;
  margin-bottom: .5rem;
}
.playButton{
  background-color: #E67B07;
  padding: 5px;
  text-align: center;
  color: white;
  border-radius: 20px;
}
.playButton:hover{
  background-color: #f79022;
  color: #d8d0d0;
}
.gameCard:hover{
  transform: scale(1.05);
}
.gameCarrousel{
  display: flex;
  max-width: 100%;
  justify-content: center;
  align-items: center;
}
.slick-list{
  height: 320px;
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
}
.slick-track{
  height: 320px;
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
}
.slick-slide{
  width: 250px;
}
.slick-prev,
.slick-next {
  z-index: 10;
  width: 40px; /* Ajusta el tamaño de las flechas */
  height: 40px;
}

.slick-prev {
  left: -50px !important; /* Ajusta la distancia de la flecha izquierda */
}

.backButton {
  display: flex;
  flex-direction: column;
  position: fixed; /* Usa fixed para que permanezca siempre visible al hacer scroll */
  top: 20px;       /* Ajusta la distancia desde la parte superior */
  left: 20px;      /* Ajusta la distancia desde el lado izquierdo */
  padding: 10px 20px; /* Color de fondo */
  color: white;             /* Color del texto */
  border: none;             /* Sin borde */
  border-radius: 8px;       /* Bordes redondeados */
  cursor: pointer;          /* Cambia el cursor al pasar por encima */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
  z-index: 1000;            /* Asegura que esté por encima de otros elementos */
  transition: transform 0.3s ease ,background-color 0.3s; /* Transición suave */
}
.backButton:hover{
background-color: #E67B07;
transform: scale(1.03);
}
.contenedorFormulario {
  position: relative; 
  display: flex;
  flex-direction: column;
  justify-content: center;  /* Centra verticalmente */
  align-items: center;      /* Centra horizontalmente */
  width: 100%;
  max-width: 500px;         /* Limita el tamaño del formulario */
  padding: 20px;            /* Espacio interno */
  margin: 120px auto;        /* Centra el contenedor en la pantalla */
  background-color: #333; /* Color de fondo solo para el formulario */
  border-radius: 10px;      /* Bordes redondeados */
  /*box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra para darle un toque visual */
}
.contenedorFormulario::before {
  content: "";
  position: absolute;
  top: -400px;        /* Ajusta la posición del círculo */
  left: -700px;       /* Ajusta la posición del círculo */
  width: 800px;       /* Tamaño del círculo */
  height: 800px;      /* Tamaño del círculo */
  border-radius: 50%; /* Hace el elemento redondeado */
  background-color: #333; /* Color de fondo que coincide con el del formulario */
  z-index: -1;        /* Pone el círculo detrás del formulario */
}
.contenedorFormulario h1{
  text-align: center;
  margin-bottom: 50px;
  font-size: 3.5rem;
}
.labelLogin{
  display: block;
  margin-bottom: 10px;
  width: 350px;
}
.labelLogin input {
  background: transparent;
  padding: 10px;
  width: 100%;
  max-width: 350px; 
  margin-top: 15px;
  border-radius: 20px;
  border: none;
  color: white;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(78,76,76,1);
-moz-box-shadow: 2px 2px 5px 0px rgba(78,76,76,1);
box-shadow: 2px 2px 5px 0px rgba(78,76,76,1);
}
.labelLogin input::placeholder{
  color: white;
}

.separator {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0; /* Espaciado arriba y abajo */
}

.separator::before,
.separator::after {
  content: "";
  flex: 1;
  border-top: 1px solid #4e4c4c; /* Línea horizontal */
  margin: 0 10px; /* Espaciado entre las líneas y el texto */
}

.separator span {
  font-size: 14px;  /* Tamaño del texto "OR" */
  color: white;      /* Color del texto */
}
.formButton{
  background-color: #E67B07;
  border: none;
  padding: 10px;
  border-radius: 20px;
  font-size: 13px;
  width: 100%;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
.formButton:hover{
  transform: scale(1.01);
  background-color: #f79022;;
}
.formButtonLink{
  text-align: center;
  display: block;
  background-color: #E67B07;
  font-size: 13px;
  border: none;
  padding: 10px;
  border-radius: 20px;
  width: 100% !important;
  font-weight: bold;
  color: white;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
.formButtonLink:hover{
  transform: scale(1.01);
  background-color: #f79022;;
}
#botonLogin1{
  margin-top: 10px;
}
.imagenSlots{
  position: absolute;
  width: 350px;
  left: 1000px;
  top: 350px;
  overflow: hidden;
  filter: drop-shadow(9px 17px 38px #d53f3f);
}
.contenedorRegister {
  position: relative; 
  display: flex;
  flex-direction: column;
  justify-content: center;  /* Centra verticalmente */
  align-items: center;      /* Centra horizontalmente */
  width: 100%;
  max-width: 800px;         /* Limita el tamaño del formulario */
  padding: 20px;            /* Espacio interno */
  margin: 120px auto;        /* Centra el contenedor en la pantalla */
  background-color: #333; /* Color de fondo solo para el formulario */
  border-radius: 10px;      /* Bordes redondeados */
  /*box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra para darle un toque visual */
}
.contenedorRegister form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contenedorRegister h1{
  text-align: center;
  color: white;
  font-size: 3.5rem;
  margin-bottom: 50px;
}
.registerData1{
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columnas */
  gap: 10px;
}
.registerData1 .labelRegister{
  display: block;
  margin-bottom: 10px;
  width: 350px;
}
.labelRegister input {
  background: transparent;
  padding: 10px;
  width: 100%;
  max-width: 350px; 
  margin-top: 15px;
  border-radius: 20px;
  border: none;
  color: white;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(78,76,76,1);
-moz-box-shadow: 2px 2px 5px 0px rgba(78,76,76,1);
box-shadow: 2px 2px 5px 0px rgba(78,76,76,1);
}
.labelRegister input::placeholder{
  color: white;
}
.registerData2{
  display: flex;
  justify-content: space-evenly;
  margin-top: 1rem;
  width: 100%;
}
.registerData2 .labelRegister{
  display: flex;
  flex-direction: column;
  width: 200px;
}
.registerData2 input{
  margin-top: 10px;
  width: 100%;
}
#botonRegister{
  margin-top: 2rem;
  width: 300px;
  margin-bottom: 1rem;
}

